.radius {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 50px auto;
  padding: '0.05rem';
  border-radius: 50%;
}
.animate_radius {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: radius 1.5s ease-out infinite forwards;
}
.animate_radius2 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.radius a {
  color: white;
  font-size: 15px;
  line-height: 55px;
}
@keyframes radius {
  0% {
    transform: scale(1, 1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
  font-size: 14px;
  line-height: 1.66667;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.commodity-sign-wrap {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
